:root {
    --text-color: #0C356A;
    --text-font-small: 25;
    --text-font-big: 30;
    font-family: 'Inter', sans-serif;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #AEDEFC;
    color: var(--text-color);
    text-align: center;
}

.content {
    width: 80%;
    margin: auto;
}

.main_label {
    font-size: 40px;
    font-weight: 700;
}

.main_content {
    width: 80%;
    height: 100%;
    margin: 30px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 300px 800px;
}

.image {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
}

.avatar_img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    display: inline-block;
}

.load_image {
    display: none;
}

.image_label {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-size: 25px;
    width: 250px;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    opacity: 60%;
}

.image_label:hover {
    background-color: gray;
}

.info_block {
    display: inline-block;
}

.info_form {
    margin-left: 70px;
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-rows: auto;
}

.row {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 200px 600px;
    font-size: 25px;
}

.row p {
    text-align: left;
    font-weight: 700;
}

.row .input_text {
    border: none;
    border-radius: 10px;
    height: 80%;
    width: 100%;
    margin: auto;
    font-size: 25px;
}

.row:last-of-type {
    position: relative;
}

.row input[type="button"] {
    position: absolute;
    right: 0;
    top: 150px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    width: 300px;
    height: 80px;
    color: white;
    background-color: var(--text-color);
    cursor: pointer;
}

.confirm_label {
    position: fixed;
    top: 40%;
    left: 30%;
    display: none;
}

.confirm {
    width: 650px;
    height: 200px;
    background-color: white;
    font-size: 25px;
    font-weight: 700;
    display: grid;
    grid-template-rows: auto;
    border-radius: 10px;
}

.button_div {
    display: grid;
    grid-template-columns: auto auto;
    /* column-gap: 20px; */
}

.button_div input[type="button"] {
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    background-color: #AEDEFC;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    margin: auto;
    margin-top: 0;
    color: var(--text-color);
    cursor: pointer;
}

.home {
    position: fixed;
    top: 30px;
    left: 100px;
}

.home_icon {

    width: 50px;
    height: 50px;
}