html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.content {
  width: 100%;
  height: 100vh;
  background-color: #AEDEFC;
  color: #0C356A;
  padding: 50px 150px;
}

.btn {
  width: 180px;
  background-color: #F3FDE8;
  color: #0C356A;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.btn:hover {
  background-color: #dbe3d9;
}

.player {
  width: 220px;
  padding: 20px;
  background-color: #F3FDE8;
  border-radius: 16px;
  margin: 14px 0;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 300px;
  height: 300px;
  margin-left: calc(50% - 150px);
}

.bar {
  width: 100%;
  height: 20px;
  background-color: #F3FDE8;
  border-radius: 10px;
  margin: 30px 0;
}

.slide {
  width: 50%;
  height: 100%;
  background-color: #33BBC5;
  border-radius: 10px;
}
.lose-group{
  display: none;
}
.win-group{
  /*display: none;*/
}
